{% extends 'petsy/base.html' %}
{% load static %}

{% block links %}

        <link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
        <link href="{% static 'themes/explorer/theme.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<main >
    <section class="background_crear" >
        <div class="container" id="crear">

            <div class = "container margin-form" style="background-color: antiquewhite">
                <span class ="titol_crear"><h1>Información del producto</h1></span>
                <form id="add_product_form" class="my-form-add-product" method="POST" action="{% url 'create_product' %}">
                {% csrf_token %}
                <div>
                    <p>Título del producto</p>
                    <input type="text" name="titulo" value="" placeholder="En pocas palabras..." class="formulari" required>
                </div>
                <div>
                     <p>Descripción</p>
                    <textarea class="form-control" rows="5" id="comment" name="descripcion" placeholder="Añade información relevante como estado, modelo, color..."></textarea>
                </div>
               <div>
                   <p>Precio</p>
                    <input type="number" name="precio" value="0" step="0,1" class="precio"  required>
               </div>
               <div>
                    <p>Categoría</p>
                    <select id="createProduct_dropDown" name="categoria"  class="categoria"required>
                        <option value="Joya">Joyeria y complementos</option>
                        <option value="Ropa">Ropa y calzado</option>
                        <option value="Casa">Hogar y decoracion</option>
                        <option value="Boda">Bodas y fiestas</option>
                        <option value="Toys">Juguetes y ocio</option>
                        <option value="Cole">Arte y objetos de decoración</option>
                        <option value="Arte">Herramientas para la artesania</option>
                        <option value="Vint">Vintage</option>
                        <option value="Otro">Otras categorias</option>
                    </select>
               </div>
               <div>
                    <p>Materiales</p>
                    <input type="text" name="materiales" value="" class="formulari" placeholder="Dinos de que está hecho tu producto..." required>
               </div>
                <div>
                    <p>Añade una imagen</p>
                    <input id="input-fa" name="img" type="file"  accept="image/*" class="file" multiple>
                </div>

                <button class="btn btn-transparent" type="submit" id="add_product_form_button">Añade el producto</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/fileinput.min.js' %}"></script>
    <script src="{% static 'themes/fa/theme.min.js' %}"></script>
    <script src="{% static 'js/pages/createProduct.js' %}"></script>
{% endblock %}

