<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        
        <title>Petsy</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shirnk-to-fit=no">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link href="{% static "css/all.css" %}" rel="stylesheet">
        
        
    </head>
    
    <body>
        
        
        <header>
            <nav class="navbar navbar-expand-sm" >
                <ul class="navbar-nav" >
                    <a class = "navbar-brand " href="factors.html">
                        <img src="{% static "images/etsy.png" %}" alt="Logo" style="width: 40px;">
                    </a>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <ul class="nav navbar-nav" style = "margin-right:200px">
                        <div class="input-group " style ="width: 400px">
                            <input class="form-control" type="text" placeholder="Buscar articulos y tiendas" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text red lighten-3" id="basic-text1"><a href = "#"><i class="fa fa-search text-grey fa-1x" aria-hidden="false"></i></a></span>
                            </div>
                        </div>
                    </ul>

                </ul>	  

                <ul class="nav navbar-nav ml-auto">
                    <li><a href="#" style="margin-right: 30px"><i  style = "color: grey"></i> Registrar-se</a></li>
                    <li><a href="#" style="color: black">Iniciar Sessió</a></li>
                    <li><a href="https://www.google.es"><i class="fas fa-github-square"></i></a></li>
                </ul>


            </nav>
        </header>
        
        <!-- header-end -->
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script defer src="{% static "js/all.js" %}"></script>
    </body>

</html>