{% extends 'petsy/base.html' %}
{% load static %}

{% block links %}

        <link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
        <link href="{% static 'themes/explorer/theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/profile.css'%}" rel="stylesheet">
        <script src="{% static 'js/follow.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>



{% endblock %}

{% block content %}
<main style="background-color:#FDEBD2">
    <section style="background-color:white">
    <br>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img class="img-profile" src="{% static 'images/defautlProfile.png' %}">
                </div>
                <div class="col-3">
                    <h3><b>{{ user.username }}</b></h3>
                    <a class="text-dark" href="">Sigue a <span><b> {{following}}</b></span></a>&nbsp;
                    <a class="text-dark" href=""><b id="follower_id"> {{followers}}</b> seguidores</a>

                    {% if request.user.is_authenticated %}
                        {% if request.user.id != user.id %}
                            <br><br>
                            {% if not follow %}
                                <button type="button" class="btn btn-secondary" id="follow_user" onclick="follow('{{ user.id }}','{{ csrf_token }}', this, $('#follower_id')[0])">Seguir usuario</button>
                            {% else %}
                                <button type="button" class="btn btn-secondary" id="follow_user" onclick="follow('{{ user.id }}','{{ csrf_token }}', this, $('#follower_id')[0])">Dejar de seguir</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                <div class="col-3">
                    <h5><b>Biografía</b></h5>
                    <div class="text-muted">
                        <p>{{user.description}}</p>
                        <!-- <p>Se unió el 18 de septiembre de 2018</p>&nbsp; -->
                    </div>
                    <div class="position-relative">
                        <h5>Tus Tiendas:</h5>
                        {% for shop in shop_list %}
                            <a href="{% url 'shop' shop.id_shop %}" style="margin-top: 5px">
                                <img class="img-shop-icon mr-xs-2" src="{% static 'images/shop-icon.png' %}">
                                <div class="d-inline position-absolute margin-url">
                                    <p class="text-muted small margin-url" style="margin-top: 20px;">{{ shop.shop_name }}</p>
                                    <p class="margin-url">Visita la tienda<i ></i></p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="container margin-div">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tiendas favoritas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Seguidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Seguidores</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">hola</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">adios</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">pene</div>
            </div>

        </div>
        <div class="container margin-div">
        <h3>Tiendas favoritas</h3>
            {% for fav in fav_shops %}
                {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}
                    <div class="row">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top img-card" src="{% static 'images/shop-icon.png' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ fav.shop_faved.shop_name }}</h5>
                                    <a href="{% url 'shop' fav.shop_faved.id_shop %}" class="card-text"><small class="text-muted stretched-link"></small></a>
                                </div>
                            </div>

                {% elif forloop.counter0|divisibleby:3 or forloop.last %}
                            <div class="card">
                                <img class="card-img-top img-card" src="{% static 'images/shop-icon.png' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ fav.shop_faved.shop_name }}</h5>
                                    <a href="{% url 'shop' fav.shop_faved.id_shop %}" class="card-text"><small class="text-muted stretched-link"></small></a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                            <div class="card">
                                <img class="card-img-top img-card" src="{% static 'images/shop-icon.png' %}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ fav.shop_faved.shop_name }}</h5>
                                    <a href="{% url 'shop' fav.shop_faved.id_shop %}" class="card-text"><small class="text-muted stretched-link"></small></a>
                                </div>
                            </div>
                {% endif %}

            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}

